-- ============================================
-- USUARIOS DE PRUEBA - NostraBar
-- Ejecutar DESPU├ëS de profiles.sql
-- ============================================
--
-- Credenciales:
--   admin      Ôöé admin@nostrabar.com       Ôöé admin123
--   cajero     Ôöé cajero@nostrabar.com      Ôöé cajero123
--   mesero     Ôöé mesero@nostrabar.com      Ôöé mesero123
--   cocina     Ôöé cocina@nostrabar.com      Ôöé cocina123
--

-- admin: admin@nostrabar.com
INSERT INTO auth.users (
  instance_id, id, aud, role, email, encrypted_password,
  raw_user_meta_data, raw_app_meta_data,
  email_confirmed_at, created_at, updated_at, confirmation_token
) VALUES (
  '00000000-0000-0000-0000-000000000000',
  'da58eb6e-14d1-42f3-9c9e-3818d041e0ff',
  'authenticated',
  'authenticated',
  'admin@nostrabar.com',
  '$2b$10$QQ8RJP6dE1x54WNLNGY5yeGUSeRvzcoSKc7o7FpSUbqPbaJYe8tqq',
  '{"full_name":"Admin","role":"admin"}'::jsonb,
  '{"provider": "email", "providers": ["email"]}'::jsonb,
  now(), now(), now(),
  encode(gen_random_bytes(32), 'hex')
);

-- cajero: cajero@nostrabar.com

-- mesero: mesero@nostrabar.com

-- cocina: cocina@nostrabar.com

-- Verificar usuarios creados
SELECT au.email, p.full_name, p.role FROM auth.users au JOIN profiles p ON p.id = au.id;
